html {
  font-family: 'GT America Condensed';
	font-weight: 300;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.6rem;
  background-color: $color-pastel-brown;
  background-image: url('@/assets/images/noise.png');
  background-repeat: repeat;

  // @media screen and (min-width: 1920px) {
  //   font-size: 0.95vw;
  // }
}

input,
button {
  outline: none;
}
