html {
  font-family: "GT America Condensed", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  --bg-color: var(--color-pastel-blue);
  font-size: 1.6rem;
  background-color: var(--bg-color);
  background-image: url('@/assets/images/noise.png');
  background-repeat: repeat;
  overflow-x: hidden;
  transition: background 0.6s linear;;
}

input,
button {
  outline: none;
}

button {
  text-transform: uppercase;
}
