$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

$radius-default: 30px;

$color-light-yellow: #FBDD4B;
$color-dark-yellow: #F6CB5A;
$color-dark-plum: #4c3643;
$color-turquoise: #15A4AD;
$color-navy-blue: #1C1C27;
$color-blue: #0878b9;

:root {
  --color-pastel-brown: #F6EEE3;
  --color-pastel-blue: #E1EEF2;
  --bg-color: var(--color-pastel-brown);
}