.c-link{
  position: relative;
  outline: none;
  text-decoration: none;
  color: inherit;
  padding: 0;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: rgba(black, 0.8);
    left: 0;
    bottom: 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s $easeOutExpo;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}